## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

In [1]:
import pandas as pd
import numpy as np

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [2]:
# code here
pclass_groups = titanic_df.groupby("Pclass")
for group in list(pclass_groups.groups.keys()):
    print(f"Pclass {group} : Avg Age {pclass_groups.get_group(group)['Age'].mean()} and total missing value {pclass_groups.get_group(group)['Age'].isna().sum()}")

Pclass 1 : Avg Age 38.233440860215055 and total missing value 30
Pclass 2 : Avg Age 29.87763005780347 and total missing value 11
Pclass 3 : Avg Age 25.14061971830986 and total missing value 136

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [5]:
# code here - Done in session
for group in list(pclass_groups.groups.keys()):
    mode = pclass_groups.get_group(group)["Embarked"].mode()
    pclass_groups.get_group(group)["Embarked"].fillna(mode)
    print(pclass_groups.get_group(group)["Embarked"].value_counts(ascending = True))

Embarked
Q      2
C     85
S    127
Name: count, dtype: int64
Embarked
Q      3
C     17
S    164
Name: count, dtype: int64
Embarked
C     66
Q     72
S    353
Name: count, dtype: int64

* Nan value is not updated in the dataframe in the above approach.

In [4]:
# Updated Code : Approach 1
titanic_df1 = titanic_df.copy(True)

# Step 1: Group by 'Pclass' and fill missing values in 'Embarked' with the mode value of that group
titanic_df1['Embarked'] = titanic_df1.groupby('Pclass')['Embarked'].transform(lambda x: x.fillna(x.mode()[0]))

# Step 2: Print the value counts of 'Embarked' for each group in ascending order
grouped = titanic_df1.groupby('Pclass')[['Embarked']]
grouped.value_counts().sort_index(ascending=True)

Pclass  Embarked
1       C            85
        Q             2
        S           129
2       C            17
        Q             3
        S           164
3       C            66
        Q            72
        S           353
Name: count, dtype: int64

In [6]:
# Updated Code : Approach 2

titanic_df2 = titanic_df.copy(True)
pclass_groups=titanic_df2.groupby('Pclass')
for group in list(pclass_groups.groups.keys()):
    mode_val=pclass_groups.get_group(group)['Embarked'].mode()
    titanic_df2.loc[pclass_groups.get_group(group).index, 'Embarked'] = pclass_groups.get_group(group)['Embarked'].fillna(mode_val[0])
    print(pclass_groups.get_group(group)['Embarked'].value_counts())

Embarked
S    129
C     85
Q      2
Name: count, dtype: int64
Embarked
S    164
C     17
Q      3
Name: count, dtype: int64
Embarked
S    353
Q     72
C     66
Name: count, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [7]:
# code here
my_dict = {}

embarked_groups = titanic_df.groupby("Embarked")
for embarked_group in list(embarked_groups.groups.keys()):
    pclass_groups = embarked_groups.get_group(embarked_group).groupby("Pclass")
    my_dict[embarked_group] = {}
    for pclass_group in list(pclass_groups.groups.keys()):
        my_dict[embarked_group][pclass_group] = round(pclass_groups.get_group(pclass_group)["Fare"].mean(), 2)
my_dict

{'C': {1: 104.72, 2: 25.36, 3: 11.21},
 'Q': {1: 90.0, 2: 12.35, 3: 11.18},
 'S': {1: 70.36, 2: 20.33, 3: 14.64}}

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

In [8]:
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [9]:
# code here
def z_normalization(group, cols_to_perform):
    for col in cols_to_perform:
        std = group[col].std()
        mean = group[col].mean()
        group[f"{col}_z_norm"] = (group[col] - mean)/std
    return group


cols_to_perform = ["Passes", "Passes Completed", "Attempted Line Breaks", "Completed Line Breaks"]
groups = fifa_df.groupby("Team")
groups = groups.apply(z_normalization, cols_to_perform = cols_to_perform).reset_index(drop=True)
groups.groupby("Team").agg(
{
    "Passes": ["min", "max"],
    "Yellow Cards": ["min", "max", "mean"],
    "Attempted Line Breaks": ["max", "min", "std"],
    "Possession (%)": "mean"
})

               Passes       Yellow Cards               Attempted Line Breaks  \
                  min   max          min max      mean                   max
Team
Argentina         408   862            0   8  2.285714                   249
Australia         286   466            0   3  1.750000                   171
Belgium           512   685            1   3  1.666667                   195
Brazil            548   695            0   3  1.200000                   193
Cameroon          295   500            1   5  2.666667                   182
Canada            448   536            2   4  2.666667                   176
Costa Rica        231   454            1   3  2.000000                   154
Croatia           461   724            0   2  1.142857                   259
Denmark           537   650            1   2  1.666667                   241
Ecuador           429   484            0   2  1.000000                   177
England           508   810            0   1  0.200000                   208
France            358   734            0   3  1.142857                   179
Germany           352   827            0   3  1.000000                   256
Ghana             319   460            2   4  2.666667                   188
Iran              232   463            2   3  2.333333                   195
Japan             225   591            0   3  1.500000                   253
Korea Republic    359   548            1   2  1.500000                   201
Mexico            356   500            1   4  2.333333                   198
Morocco           229   583            0   3  1.285714                   157
Netherlands       403   786            0   4  1.800000                   198
Poland            303   466            1   3  1.750000                   156
Portugal          461   678            0   3  1.200000                   197
Qatar             424   457            0   4  2.333333                   174
Saudi Arabia      267   560            2   6  4.666667                   205
Senegal           277   511            1   3  1.750000                   184
Serbia            403   513            2   7  4.000000                   184
Spain             647  1070            0   1  0.500000                   237
Switzerland       403   512            1   4  2.250000                   178
Tunisia           328   501            1   3  1.666667                   200
United States     427   572            0   4  1.250000                   204
Uruguay           390   528            1   3  2.000000                   186
Wales             325   508            1   2  1.666667                   208

                               Possession (%)
                min        std           mean
Team
Argentina       141  38.774685      49.285714
Australia       133  17.682383      31.250000
Belgium         167  14.422205      49.000000
Brazil          164  10.691118      50.400000
Cameroon        144  19.857828      38.333333
Canada          102  37.753587      44.333333
Costa Rica       86  38.974351      27.333333
Croatia          97  54.499891      47.428571
Denmark         173  34.000000      51.333333
Ecuador         143  17.009801      42.666667
England         133  29.676590      57.200000
France          126  21.407609      44.857143
Germany         143  56.624494      53.000000
Ghana           122  33.020196      37.000000
Iran             56  77.526340      31.666667
Japan           104  64.048810      30.250000
Korea Republic  139  27.072434      42.250000
Mexico          127  40.706265      46.666667
Morocco         128  10.641339      34.285714
Netherlands     168  12.759310      44.000000
Poland           79  36.326070      32.000000
Portugal        165  13.049904      53.800000
Qatar           159   7.767453      39.333333
Saudi Arabia    147  29.022979      36.666667
Senegal         143  16.938615      38.500000
Serbia          140  22.188586      42.666667
Spain           186  24.289916      67.000000
Switzerland     157   9.032349      43.000000
Tunisia         153  24.419937      38.666667
United States   143  27.693260      47.000000
Uruguay         146  22.030282      41.000000
Wales           104  53.028294      41.000000

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

In [11]:
balls = pd.read_csv("ipl_deliveries - ipl_deliveries.csv")

### `Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [12]:
# code here
#1
df = balls[balls.innings == 2]
df.groupby(["ID", "batter"]).sum().sort_values(by = "batsman_run", ascending = False)["batsman_run"].head()

ID       batter
501206   PC Valthaty      120
501243   V Sehwag         119
1254061  SV Samson        119
1136620  SR Watson        117
336018   ST Jayasuriya    114
Name: batsman_run, dtype: int64

In [13]:
#2
temp_df = df[~(df.extra_type == "wides")]
temp_df = temp_df.groupby("batter").agg(
{
    "batsman_run": "sum",
    "ballnumber": "count"
})
temp_df["strike_rate"] = temp_df["batsman_run"] / temp_df["ballnumber"] * 100
temp_df[temp_df["ballnumber"] >= 100].sort_values("strike_rate", ascending = False).reset_index().head()

           batter  batsman_run  ballnumber  strike_rate
0      PJ Cummins          222         114   194.736842
1      AD Russell          986         570   172.982456
2  LS Livingstone          182         107   170.093458
3       SP Narine          599         356   168.258427
4      SO Hetmyer          330         200   165.000000

### `Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [14]:
# code here

balls["IsBatterOut"] = (balls.batter == balls.player_out)&(~balls.kind.isin(['run out', 'retired hurt', 'retired out']))
balls.groupby(["bowler", "batter"]).agg({
    "IsBatterOut": "sum",
    "batsman_run": "sum"
}).sort_values(by=["IsBatterOut", "batsman_run"], ascending = [False, True]).head(10)

                           IsBatterOut  batsman_run
bowler         batter
Z Khan         MS Dhoni              7           74
Sandeep Sharma V Kohli               7           78
A Mishra       RG Sharma             7           87
R Ashwin       RV Uthappa            7          123
SP Narine      RG Sharma             7          137
R Vinay Kumar  RG Sharma             6           22
YS Chahal      Q de Kock             6           44
JJ Bumrah      RR Pant               6           48
RA Jadeja      GJ Maxwell            6           49
MM Sharma      AT Rayudu             6           52

### `Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [15]:
# code here
def func(x):
    return '-'.join(list(np.sort(x.values)))
balls["batter-pair"] = balls[["batter", "non-striker"]].apply(func, axis = 1)
balls.groupby("batter-pair")["total_run"].sum().sort_values(ascending = False).head()

batter-pair
AB de Villiers-V Kohli    3134
CH Gayle-V Kohli          2802
DA Warner-S Dhawan        2357
G Gambhir-RV Uthappa      1906
KL Rahul-MA Agarwal       1731
Name: total_run, dtype: int64

### `Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [16]:
# code here
temp_df = balls.groupby("batter-pair").agg(
{
    "total_run": "sum",
    "ballnumber": "count",
    "isWicketDelivery": "sum"
}).reset_index()
temp_df["Batsman 1"] = temp_df["batter-pair"].apply(lambda x: x.split("-")[0])
temp_df["Batsman 2"] = temp_df["batter-pair"].apply(lambda x: x.split("-")[1])
temp_df.rename(columns = {"total_run": "Runs"}, inplace=True)
temp_df["StrikeRate"] = temp_df["Runs"] / temp_df["ballnumber"] * 100
temp_df["Avg"] = temp_df["Runs"] / temp_df["isWicketDelivery"]
temp_df.sort_values("Runs", ascending = False, inplace=  True)
temp_df[["Batsman 1", "Batsman 2", "Runs", "Avg", "StrikeRate"]]

/usr/local/lib/python3.10/dist-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

           Batsman 1        Batsman 2  Runs        Avg  StrikeRate
302   AB de Villiers          V Kohli  3134  44.140845  152.209811
1251        CH Gayle          V Kohli  2802  52.867925  142.017233
1508       DA Warner         S Dhawan  2357  48.102041  136.637681
1954       G Gambhir       RV Uthappa  1906  39.708333  133.754386
2803        KL Rahul       MA Agarwal  1731  52.454545  142.939719
...              ...              ...   ...        ...         ...
350   AD Mascarenhas  Gurkeerat Singh     0   0.000000    0.000000
3552     NLTC Perera         RV Gomez     0   0.000000    0.000000
2270   Iqbal Abdulla         TS Mills     0   0.000000    0.000000
3556      NM Coulter             Nile     0   0.000000    0.000000
2928    Kartik Tyagi   Shashank Singh     0   0.000000    0.000000

[4259 rows x 5 columns]